<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/home" class="navbar-brand">
          <img alt="Emcure" class="logo-img" src="assets/dist/img/logo1.png">
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">

          <li *ngIf="AuthMenus.ComplianceReport || AuthMenus.ComplianceCertificate" class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-lg mr-2 fa-pie-chart" aria-hidden="true"></i> Analytics
              <i class="fa fa-chevron-down"></i> </a>
            <ul class="dropdown-menu" role="menu">
              <li *ngIf="true"><a routerLink="/dashboard"> <i class="fa fa-lg mr-2 fa-home" aria-hidden="true"></i>
                  Dashboard</a></li>
              <li *ngIf="AuthMenus.ComplianceReport"><a routerLink="/compliance-report"> <i class="fa fa-lg mr-2 fa-clipboard" aria-hidden="true"></i>
                  Compliance Report</a></li>
              <!-- <li><a href="javascript:void(0)"> <i class="fa fa-lg mr-2 fa-clipboard" aria-hidden="true"></i>
                  Compliance Report</a></li> -->
              <li *ngIf="AuthMenus.ComplianceCertificate"><a routerLink="/compliance-certificate"> <i class="fa fa-lg mr-2 fa-certificate"
                    aria-hidden="true"></i>
                  Compliance Certificate</a></li>
              <!-- <li><a href="javascript:void(0)"> <i class="fa fa-lg mr-2 fa-certificate" aria-hidden="true"></i>
                  Compliance Certificate</a></li> -->
            </ul>
          </li>
          <li *ngIf="AuthMenus.Repository"><a routerLink="/repository"><i class="fa fa-code-fork fa-lg mr-2"></i> Repository</a></li>
          <li *ngIf="AuthMenus.Calendar"><a routerLink="/calendar"><i class="fa fa-calendar fa-lg mr-2"></i> Calendar</a></li>
          <li *ngIf="AuthMenus.Support"><a routerLink="/support"><i class="fa fa-phone  fa-lg mr-2"></i> Support</a></li>
          <li *ngIf="AuthMenus.ShowCauseNotice"><a routerLink="/show-cause-notice"><i class="fa fa-sticky-note  fa-lg mr-2"></i> Show Cause Notice</a>
          </li>
          <li *ngIf="AuthMenus.Document"><a routerLink="/document"><i class="fa fa-sticky-note fa-lg mr-2"></i> Document</a></li>
          <!-- <li><a href="javascript:void(0)"><i class="fa fa-file-pdf-o  fa-lg mr-2"></i> Document</a></li> -->
          <li *ngIf="AuthMenus.Users || AuthMenus.Entity || AuthMenus.Unit || AuthMenus.Functions || AuthMenus.Roles || AuthMenus.Designation || AuthMenus.ManageEntityMappings || AuthMenus.TaskMapping || AuthMenus.ExportData" class="dropdown module-link">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-lg mr-2 fa-th" aria-hidden="true"></i> Modules
              <i class="fa fa-chevron-down"></i> </a>
            <ul class="dropdown-menu" role="menu">
              <li *ngIf="AuthMenus.Users"><a routerLink="/users"> <i class="fa fa-lg mr-2 fa-users" aria-hidden="true"></i> Users</a></li>
              <li *ngIf="AuthMenus.Entity"><a routerLink="/entity"> <i class="fa fa-lg mr-2 fa-asterisk" aria-hidden="true"></i> Entity</a></li>
              <li *ngIf="AuthMenus.Unit"><a routerLink="/units"> <i class="fa fa-lg mr-2 fa-university" aria-hidden="true"></i> Unit</a></li>
              <li *ngIf="AuthMenus.Functions"><a routerLink="/functions"> <i class="fa fa-lg mr-2 fa-cogs" aria-hidden="true"></i> Function</a>
              <li *ngIf="AuthMenus.Roles"><a routerLink="/roles"> <i class="fa fa-lg mr-2 fa-recycle" aria-hidden="true"></i> Roles</a>
              <li *ngIf="AuthMenus.Designation"><a routerLink="/designations"> <i class="fa fa-lg mr-2 fa-street-view" aria-hidden="true"></i>
                  Designation</a>
              </li>
              <li *ngIf="AuthMenus.ManageEntityMappings"><a routerLink="/manageentitymappings"> <i class="fa fa-lg mr-2 fa-map-pin" aria-hidden="true"></i>
                  Manage Entity Mappings</a>
              </li>

              <li *ngIf="AuthMenus.TaskMapping"><a routerLink="/task-mapping"> <i class="fa fa-lg mr-2 fa-tasks" aria-hidden="true"></i>Task
                  Mapping</a></li>

              <!-- <li><a href="javascript:void(0)"> <i class="fa fa-lg mr-2 fa-subway" aria-hidden="true"></i>Sub Task</a>
              </li> -->
              <li *ngIf="AuthMenus.ExportData"><a routerLink="/export-data"> <i class="fa fa-lg mr-2 fa-building" aria-hidden="true"></i>Export
                  Data</a></li>
              <!-- <li><a routerLink="/common-email"> <i class="fa fa-lg mr-2 fa-building" aria-hidden="true"></i>Common
                  Email</a></li> -->
              <!-- <li><a routerLink="/logs"> <i class="fa fa-lg mr-2 fa-building" aria-hidden="true"></i>Logs</a></li> -->
              <!-- <li><a routerLink="/query-builder"> <i class="fa fa-lg mr-2 fa-building" aria-hidden="true"></i>Query
                  Builder</a></li> -->
            </ul>
          </li>
        </ul>

      </div>
      <!-- /.navbar-collapse -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="assets/img/defaultUser1.png" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{userName}}</span>
              <!-- <span><i id="SessionCounter"></i> <i class="fas fa-sync" style="color: #666666;" onClick="window.location.reload();" title="Click to extend session"></i></span> -->
            </a>
            <ul class="dropdown-menu">
              <li class="user-body">
                <a routerLink="/account-profile">Profile</a>
                <a routerLink="/change-password">Change password</a>
                <a href="javascript:void(0)" id="SignOutButton" (click)="Signout()">Sign out</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span><i style="padding-right: 4px;">{{counter | formatTime}}</i> <i class="fas fa-sync" style="color: #666666;" onClick="window.location.reload();" title="Click to extend session"></i></span>   
            </a>
          </li>
          <li>
            
          </li>
        </ul>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>