<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="['/home']"
                                        routerLinkActive="router-link-active">Home</a></li>
                                <li class="breadcrumb-item"><a [routerLink]="['/task-mapping']"
                                        routerLinkActive="router-link-active">Task Mapping</a></li>
                                <li class="active breadcrumb-item" aria-current="page">Task Configuration</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-12">
                        <div class="box box-defualt  ">
                            <form #taskMappingTaskConfigurationForm="ngForm" (ngSubmit)="onSearch()">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Search</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="note-mendatory">* Mendatory Fields</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Country <span class="mandatory">*</span></label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.country"
                                                    name="country" #country="ngModel"
                                                    (change)="ValidateCountry(country.value)" class="form-control">
                                                    <option value="0">Select</option>
                                                    <option *ngFor="let item of getCountriesListFromAPI"
                                                        value={{item.country_id}}>
                                                        {{item.country_name}}</option>
                                                </select>
                                                <small [class.d-none]="!CountryHasError || country.untouched"
                                                    class="text-danger">This field is a
                                                    required field.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Choose </label>
                                                <div class="radio-wrapper">
                                                    <input [(ngModel)]="taskmappingtaskconfiguration.choose"
                                                        (click)="chooseOption()" id="state" #ChooseOption="ngModel"
                                                        name="Choose" type="radio" value="state">
                                                    <label for="state">State</label>&nbsp;&nbsp;&nbsp;
                                                    <input [(ngModel)]="taskmappingtaskconfiguration.choose"
                                                        (click)="chooseOption()" id="central" #ChooseOption="ngModel"
                                                        name="Choose" type="radio" value="central">
                                                    <label for="central">Central</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4" *ngIf="isDisplay">
                                            <div class="form-group">
                                                <label>State</label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.state"
                                                    (change)="ValidateState()" name="state" #state="ngModel"
                                                    class="form-control">
                                                    <option value="0">Select</option>
                                                    <option *ngFor="let item of getstateListFromAPI"
                                                        value={{item.state_id}}>
                                                        {{item.state_name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Category of Law </label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.categoryOdLaws"
                                                    (change)="ValidateCategoryOfLaw(categoryOdLaws.value)"
                                                    name="categoryOdLaws" #categoryOdLaws="ngModel"
                                                    class="form-control">
                                                    <option value="0">Select</option>
                                                    <option *ngFor="let item of getCategoryOfLawListFromAPI"
                                                        value={{item.cat_law_id}}>
                                                        {{item.cat_law_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Legislation </label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.legislation"
                                                    (change)="ValidateLegislation(legislation.value)" name="legislation"
                                                    #legislation="ngModel" class="form-control">
                                                    <option value="0">Select Legislation</option>
                                                    <option *ngFor="let item of getLegislationListFromAPI"
                                                        value={{item.legi_id}}>
                                                        {{item.legi_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Rules </label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.rules" name="rules"
                                                    class="form-control">
                                                    <option value="0">Select Rules</option>
                                                    <option *ngFor="let item of getRulesListFromAPI"
                                                        value={{item.rule_id}}>
                                                        {{item.rule_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Entity </label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.entity" name="entity"
                                                    #entity="ngModel" (change)="ValidateEntityFilter(entity.value)"
                                                    class="form-control">
                                                    <option value="0">Select Entity</option>
                                                    <option *ngFor="let item of getEntityListFilterFromAPI"
                                                        value={{item.orga_id}}>
                                                        {{item.orga_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Unit </label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.unit" name="unit"
                                                    #unit="ngModel" (change)="ValidateUnitFilter(unit.value)"
                                                    class="form-control">
                                                    <option value="0">Select Unit</option>
                                                    <option *ngFor="let item of getUnitListFilterFromAPI"
                                                        value={{item.loca_id}}>
                                                        {{item.loca_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Function </label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.functions"
                                                    name="functions" #functions="ngModel"
                                                    (change)="ValidateFunctionFilter(functions.value)"
                                                    class="form-control">
                                                    <option value="0">Select Function</option>
                                                    <option *ngFor="let item of getFunctionListFilterFromAPI"
                                                        value={{item.dept_id}}>
                                                        {{item.dept_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Owner </label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.owner" name="owner"
                                                    #owner="ngModel" (change)="ValidateOwnerFilter(owner.value)"
                                                    class="form-control">
                                                    <option value="0">Select Owner</option>
                                                    <option *ngFor="let item of getOwnerListFilterFromAPI"
                                                        value={{item.user_id}}>
                                                        {{item.user_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Approver </label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.approver"
                                                    name="approver" #approver="ngModel" class="form-control">
                                                    <option value="0">Select Approver</option>
                                                    <option *ngFor="let item of getApproverListFilterFromAPI"
                                                        value={{item.user_id}}>
                                                        {{item.user_name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Frequency</label>
                                                <select [(ngModel)]="taskmappingtaskconfiguration.frequency"
                                                    name="frequency" #frequency="ngModel" class="form-control">
                                                    <option value="">Select Frequency</option>
                                                    <option *ngFor="let item of getFrequencyListFilterFromAPI"
                                                        value={{item.task_frequency}}>
                                                        {{item.task_frequency}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <div class="box-footer text-center">
                                    <button
                                        [disabled]="taskMappingTaskConfigurationForm.form.invalid || CountryHasError"
                                        type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>

                        <!-- Condition here -->
                        <div *ngIf="selectedRecords?.length != 0" class="box box-defualt  ">
                            <form #taskMappingTaskSaveConfigurationForm="ngForm" (ngSubmit)="onSubmit()">
                                <div class="box-body">
                                    <div class="">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Impact On Entity</th>
                                                        <th>Impact On Unit</th>
                                                        <th>Impact</th>
                                                        <th>Document</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <select
                                                                (change)="changeImpactOnEntity(impactOnEntity.value)"
                                                                [(ngModel)]="saveConfigurationModel.impactOnEntity"
                                                                name="impactOnEntity" #impactOnEntity="ngModel"
                                                                class="form-control">
                                                                <option value="">Select</option>
                                                                <option *ngFor="let item of ImpactOnEntity"
                                                                    value={{item}}>
                                                                    {{item}}</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select [(ngModel)]="saveConfigurationModel.impactOnUnit"
                                                                name="impactOnUnit" #impactOnUnit="ngModel"
                                                                class="form-control">
                                                                <option value="">Select</option>
                                                                <option *ngFor="let item of ImpactOnUnit"
                                                                    value={{item}}>
                                                                    {{item}}</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select [(ngModel)]="saveConfigurationModel.impact"
                                                                name="impact" #impact="ngModel" class="form-control">
                                                                <option value="">Select</option>
                                                                <option *ngFor="let item of Impact" value={{item}}>
                                                                    {{item}}</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <div class="radio-wrapper">
                                                                <label><strong>Doc. :&nbsp;&nbsp;</strong></label>

                                                                <input [(ngModel)]="saveConfigurationModel.docRadio"
                                                                    name="docRadio" id="docyes" type="radio" value="1">
                                                                <label for="docyes">YES</label>&nbsp;&nbsp;&nbsp;
                                                                <input [(ngModel)]="saveConfigurationModel.docRadio"
                                                                    name="docRadio" id="docno" type="radio" value="0">
                                                                <label for="docno">NO</label>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr style="display: none;">
                                                        <td></td>
                                                        <td>

                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>

                                                        </td>
                                                        <td>
                                                            <div class="radio-wrapper">
                                                                <label><strong>Hist. :&nbsp;&nbsp;</strong></label>

                                                                <input [(ngModel)]="saveConfigurationModel.histRadio"
                                                                    name="histRadio" id="histyes" type="radio"
                                                                    value="1">
                                                                <label for="histyes">YES</label>&nbsp;&nbsp;&nbsp;
                                                                <input [(ngModel)]="saveConfigurationModel.histRadio"
                                                                    name="histRadio" id="histno" type="radio" value="0">
                                                                <label for="histno">NO</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Frequency</th>
                                                        <th>Buffer (Days)</th>
                                                        <th>Alert Prior (Days)</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>
                                                            <select [(ngModel)]="saveConfigurationModel.frequency"
                                                                name="frequency" #frequency="ngModel"
                                                                class="form-control">
                                                                <option value="">Select</option>
                                                                <option
                                                                    *ngFor="let item of getFrequencyListFilterFromAPI"
                                                                    value={{item.task_frequency}}>
                                                                    {{item.task_frequency}}</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input (change)="bufferDaysOnChange(daysBuffes.value, true)"
                                                                [(ngModel)]="saveConfigurationModel.daysBuffes"
                                                                name="daysBuffes" #daysBuffes="ngModel" min="0"
                                                                onKeyDown="returnFalse()"
                                                                type="number" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input [(ngModel)]="saveConfigurationModel.alertPriorDays"
                                                                name="alertPriorDays" #alertPriorDays="ngModel" min="0"
                                                                type="number" class="form-control">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div *ngIf="saveConfigurationModel.frequency != 'One_Time'" class="">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Legal Due Date</th>
                                                        <th>Unit Head Due Date</th>
                                                        <th>Function Head Due Date</th>
                                                        <th>Approver Due Date</th>
                                                        <th>Owner Due Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>
                                                            <input (change)="bufferDaysOnChange(0, false)" [(ngModel)]="saveConfigurationModel.legalDueDate"
                                                                name="legalDueDate" #legalDueDate="ngModel" type="date"
                                                                class="form-control">
                                                        </td>
                                                        <td>
                                                            <input readonly [(ngModel)]="saveConfigurationModel.unitHeadDueDate"
                                                                name="unitHeadDueDate" #unitHeadDueDate="ngModel"
                                                                type="date" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input readonly
                                                                [(ngModel)]="saveConfigurationModel.functionHeadDueDate"
                                                                name="functionHeadDueDate"
                                                                #functionHeadDueDate="ngModel" type="date"
                                                                class="form-control">
                                                        </td>
                                                        <td>
                                                            <input readonly [(ngModel)]="saveConfigurationModel.approverDueDate"
                                                                name="approverDueDate" #approverDueDate="ngModel"
                                                                type="date" class="form-control">
                                                        </td>
                                                        <td>
                                                            <input readonly [(ngModel)]="saveConfigurationModel.ownerDueDate"
                                                                name="ownerDueDate" #ownerDueDate="ngModel" type="date"
                                                                class="form-control">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div *ngIf="saveConfigurationModel.frequency != 'One_Time'" class="">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Extra Alerts</th>
                                                        <th>Back Dates</th>
                                                        <th>Task Maker Checker</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input [(ngModel)]="saveConfigurationModel.extraAlert"
                                                                name="extraAlert" #extraAlert="ngModel" type="checkbox">
                                                        </td>
                                                        <td>
                                                            Note: Check here for Extra alerts
                                                        </td>
                                                        <td>
                                                            <div class="radio-wrapper">
                                                                <input
                                                                    [(ngModel)]="saveConfigurationModel.backDatesRadio"
                                                                    name="backDatesRadio" #backDatesRadio="ngModel"
                                                                    id="backDatesyes" type="radio" value="1">
                                                                <label for="backDatesyes">YES</label>&nbsp;&nbsp;&nbsp;
                                                                <input
                                                                    [(ngModel)]="saveConfigurationModel.backDatesRadio"
                                                                    name="backDatesRadio" #backDatesRadio="ngModel"
                                                                    id="backDatesno" type="radio" value="0">
                                                                <label for="backDatesno">NO</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="radio-wrapper">
                                                                <input
                                                                    [(ngModel)]="saveConfigurationModel.taskMakerCheckerRadio"
                                                                    name="taskMakerCheckerRadio"
                                                                    #taskMakerCheckerRadio="ngModel"
                                                                    id="taskMakerCheckeryes" type="radio" value="1">
                                                                <label
                                                                    for="taskMakerCheckeryes">YES</label>&nbsp;&nbsp;&nbsp;
                                                                <input
                                                                    [(ngModel)]="saveConfigurationModel.taskMakerCheckerRadio"
                                                                    name="taskMakerCheckerRadio"
                                                                    #taskMakerCheckerRadio="ngModel"
                                                                    id="taskMakerCheckerno" type="radio" value="0">
                                                                <label for="taskMakerCheckerno">NO</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="saveConfigurationModel.backDatesRadio == '1'">
                                                        <td>
                                                        </td>
                                                        <td>
                                                        </td>
                                                        <td>
                                                            <input [(ngModel)]="saveConfigurationModel.backDatesDays"
                                                                name="backDatesDays" min="0" #backDatesDays="ngModel"
                                                                type="number" class="form-control">
                                                        </td>
                                                        <td>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div *ngIf="saveConfigurationModel.extraAlert" class="">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>First Alert</th>
                                                        <th>Second Alert</th>
                                                        <th>Third Alert</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>
                                                            <input [(ngModel)]="saveConfigurationModel.firstAlert"
                                                                name="firstAlert" #firstAlert="ngModel" type="date"
                                                                class="form-control">
                                                        </td>
                                                        <td>
                                                            <input [(ngModel)]="saveConfigurationModel.secondAlert"
                                                                name="secondAlert" #secondAlert="ngModel" type="date"
                                                                class="form-control">
                                                        </td>
                                                        <td>
                                                            <input [(ngModel)]="saveConfigurationModel.thirdAlert"
                                                                name="thirdAlert" #thirdAlert="ngModel" type="date"
                                                                class="form-control">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="box-footer text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>

                        <div class="box box-defualt  ">

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label>Total Task : <span>{{responseData?.length}}</span></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label>| Selected Task : <span>{{selectedRecords?.length}}</span></label>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th><input *ngIf="responseData?.length != 0" type="checkbox"
                                                        (click)="checkAllFunction()" />
                                                </th>
                                                <th>Sr. No.</th>
                                                <th>Client Task ID</th>
                                                <th>Emcure Task ID</th>
                                                <th>Name of Legislation</th>
                                                <th>Rule</th>
                                                <th>Reference</th>
                                                <th>Who</th>
                                                <th>When</th>
                                                <th>Activity</th>
                                                <th>Frequency</th>
                                                <th>Impact</th>
                                                <th>Unit Impact</th>
                                                <th>Entity Impact</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="responseData?.length <= 0">
                                            <tr>
                                                <td colspan="13" class="text-center">
                                                    Data not available !
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="responseData?.length != 0">
                                            <tr *ngFor="let item of responseData; let i = index">
                                                <td class="text-center">
                                                    <input type="checkbox" *ngIf="showAllchecked == false"
                                                        (click)="checkFunction(item.tmap_client_task_id)" />
                                                    <input *ngIf="showAllchecked == true" type="checkbox" checked
                                                        (click)="checkFunction(item.tmap_client_task_id)" />
                                                </td>
                                                <td class="text-center">{{i + 1}}</td>

                                                <td>{{item.tmap_client_task_id}}</td>
                                                <td>{{item.task_lexcare_id}}</td>
                                                <td>{{item.task_legi_name}}</td>
                                                <td>{{item.task_rule_name}}</td>
                                                <td>{{item.task_reference}}</td>
                                                <td>{{item.task_activity_who}}</td>
                                                <td>{{item.task_activity_when}}</td>
                                                <td>{{item.task_activity}}</td>
                                                <td>{{item.task_frequency_for_operation}}</td>
                                                <td>{{item.task_impact}}</td>
                                                <td>{{item.task_impact_on_unit}}</td>
                                                <td>{{item.task_impact_on_orga}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <div *ngIf="responseData?.length != 0">
                                        <pagination-controls id="taskMappingEnableDisable" maxSize="5"
                                            directionLinks="true" (pageChange)="Pagination.CurrentPage=$event">
                                        </pagination-controls>
                                    </div> -->
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.container -->
</div>