<div class="content-wrapper">
    <div class="container-fluid">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <nav class="" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/home']"
                                    routerLinkActive="router-link-active">Home</a></li>
                            <li class="active breadcrumb-item" aria-current="page">Logs Manager</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="p-3 card">
                <div class="card-body">
                    <h4>Logs Manager</h4>
                </div>
                <div class="container-fluid position-relative">
                    <div class="pt-2 row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/logs/login.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/logs-login">Login Logs</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/logs/taskAssign.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/logs-task-assign">Task assign</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/logs/cc.jpg" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/logs-change-compliance-owner">Change compliance owner</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/logs/config.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/logs-task-configuration">Task Configuration</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/logs/mail.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/logs-email">Email Log</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/logs/report.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/logs-report">Report Log</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/enable.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/logs-active-deactive">Activate / De-Activate Tasks</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/enable.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/logs-reactive">Tasks Re-Activation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>