<div class="login-page">
  <div class="login-box">

    <div class="login-box-body">
      <div class="login-logo">
        <img src="assets/img/logo1.png" alt="Emcure" />
      </div>
      <form #forgetpasswordForm="ngForm">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" #useremail [(ngModel)]="forgetPassword.email" name="email"  #email="ngModel"
            placeholder="Email" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required
            field.
          </small>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" [(ngModel)]="forgetPassword.userName" name="userName" 
            placeholder="User Name" #userName="ngModel" required>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <small [class.d-none]="userName.valid || userName.untouched" class="text-danger">Username is required
            field.
          </small>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button type="submit" [disabled]="forgetpasswordForm.form.invalid"
              class="btn btn-primary btn-block btn-flat" (click)="SubmitForm()">Submit</button>
          </div>
        </div>
      </form>
      <br>
      <div class="col-xs-12 text-center">
        <a routerLink="/login">Login</a><br>
      </div>
      <br>

    </div>
  </div>
</div>