<div class="content-wrapper full-height">
  <div class="container-fluid">
    <div class="row">
      <!-- Main content -->
      <section class="content">
        <div class="box box-defualt  ">

          <div style="height: calc(100vh - 55px);">
            <div class="row justify-content-center">


              <div class=" col-md-12">
                <img src="assets/dist/img/page-under-mentance.jpg" class="img-fluid" alt="">
                <div class=" not-found-content">
                  <div class="jumbotron">
                    <h1>Page Under<br> Maintenance</h1>
                    <a routerLink="/home" class="btn btn-primary btn-lg">Back</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </section>
      <!-- /.content -->
    </div>
  </div>
  <!-- /.container -->
</div>