<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-md-12">
                        <nav class="" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a [routerLink]="['/home']"
                                        routerLinkActive="router-link-active">Home</a></li>
                                <li class="breadcrumb-item"><a [routerLink]="['/designations']"
                                        routerLinkActive="router-link-active">Designations</a>
                                </li>
                                <li class="active breadcrumb-item" aria-current="page">Edit Designations</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="box box-defualt  ">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Designations</h3>
                    </div>
                    <div class="box-body">
                        <form #createDesignationForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Designation Name</label>
                                    <input [(ngModel)]="designationsData.designation_name" #designation_name="ngModel"
                                        required name="dept_name" type="text" class="form-control"
                                        placeholder="Function Name">
                                    <small [class.d-none]="designation_name.valid || designation_name.untouched"
                                        class="text-danger">Designation name is a
                                        required field.
                                    </small>
                                </div>

                                <div class="col-md-4 form-group">
                                    <button [disabled]="createDesignationForm.form.invalid" type="submit"
                                        class="btn btn-primary label-margin">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.container -->
</div>