<div class="content-wrapper">
    <div class="container-fluid">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <nav class="" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/home']"
                                    routerLinkActive="router-link-active">Home</a></li>
                            <li class="active breadcrumb-item" aria-current="page">Compliance Manager</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="p-3 card">
                <div class="card-body">
                    <h4>Compliance Manager</h4>
                </div>
                <div class="container-fluid position-relative">
                    <div class="pt-2 row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/import.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/task-mapping-import-task">Import Task</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/imported.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/task-mapping-imported-task">Imported Task</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/assign.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/task-mapping-assign-task">Assign Task</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/configure.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/task-mapping-task-configuration">Task Configuration</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/activate.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/task-mapping-active-task">Activate Task</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/enable.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/task-mapping-enable-disable">Enable/Disable</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/changeOwner.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/task-mapping-change-compliance-owner">Change Compliance Owner</a>
                                </div>
                            </div>
                        </div>

                        <div style="display: none;" class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/defaultTask.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/task-mapping-default-task-configuration">Default Task
                                        Configuration</a>
                                </div>
                            </div>
                        </div>

                        <div style="display: none;" class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <img src="assets/img/dash_board/defaultRepository.png" height="80px" width="80px">
                                </div>
                                <div class="panel-body text-center">
                                    <a routerLink="/task-mapping-default-task-configuration-repository">Default Task
                                        Configuration Repository</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>